body{
  background: url("../assets/images/always-sunny.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito', sans-serif;

  font-size: 25px; 
}

p, label {
  color: bisque;  
}

.container-home{
  background-color: none;
  border: none;
} 
.container-questions{
  float: right;
  margin-top: 10%; 
  margin-left: 5%;  
  margin-right: 2%;  
  width: 40%;   
 
}

h1{
  font-family: 'Calistoga', cursive;
  color: black; 
  margin-right: 3%; 
  text-align: right;
  font-size: 50px; 
  font-weight: bold; 
  /* color: antiquewhite; */
}
h2{
  font-family: 'Calistoga', cursive;
  color: darkorange; 
  text-align: right;
  margin-right: 3%; 

}
.home{
  color: black; 
}
h3{
  font-size: 35px; 
  color: darkorange; 
}

.btn{
  background: darkorange;
  margin-left: 35%; 
}

.btn:hover{
  background: red;
}
 footer{
   margin-top: 30%; 
 }

 footer a{
   color: black; 
 }
header #survey-header{
  background: url('../assets/images/header.png'); 
}
 #survey{
   background: black;
   background-repeat: no-repeat;
   background-size: cover;
 
 }
  option .select{
    color: black; 
  }
#submit, #home{
  width: 25%; 
  margin: 38%; 
 
  }
 #submit-footer{
   margin-top: 5%; 
 }
  #submit-footer a{
    color: bisque; 
  }

